/* Для ссылок */
.b-link:before {
  display: inline-block;
  position: absolute;
  margin-top: -6rem;
  transform: translateX(-25%) scale(1);
  transition: 150ms transform;
  transform-origin: bottom center;
  font-size: 11px;
  padding: 4px 10px 4px 10px;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.8) !important;
  border-radius: 8px;
  box-shadow: 1px 1px 2px rgba(0,0,0, 0.9);
  z-index: 10;
  white-space: pre;
  text-align: center;
  align-items: center;
}
.b-link:after {
    position: absolute;
    margin-top: -95px;
    display: inline-block;
    font-size: 7px;
    padding: 4px 10px 4px 10px;
    color: white;
    background: none !important;
    border-radius: 5px;
    z-index: 10;
    white-space: pre;
}
.c-column .b-link:after,
.c-column .b-link:before,
.b-catalog_entry.c-column .b-link:after,
.b-catalog_entry.c-column .b-link:before,
.b-clubs-menu > .block > .block > .b-menu-line > .b-link:after,
.b-clubs-menu > .block > .block > .b-menu-line > .b-link:before {
  display: none;
}
:root {
  --5-star-background: linear-gradient(0deg,#de9552 0%,#9a6d43 100%);
  --4-star-background: linear-gradient(0deg,#917ab1 0%,#6c6192 100%);
  --physical: url(https://static.wikia.nocookie.net/houkai-star-rail/images/c/ce/Icon_Physical.png/revision/latest/scale-to-width-down/15);
  --fire: url(https://static.wikia.nocookie.net/houkai-star-rail/images/0/0a/Icon_Fire.png/revision/latest/scale-to-width-down/15);
  --ice: url(https://static.wikia.nocookie.net/houkai-star-rail/images/5/52/Icon_Ice.png/revision/latest/scale-to-width-down/15);
  --lightning: url(https://static.wikia.nocookie.net/houkai-star-rail/images/f/f0/Icon_Lightning.png/revision/latest/scale-to-width-down/15);
  --wind: url(https://static.wikia.nocookie.net/houkai-star-rail/images/a/a7/Icon_Wind.png/revision/latest/scale-to-width-down/15);
  --quantum: url(https://static.wikia.nocookie.net/houkai-star-rail/images/2/2f/Icon_Quantum.png/revision/latest/scale-to-width-down/15);
  --imaginary: url(https://static.wikia.nocookie.net/houkai-star-rail/images/1/18/Icon_Imaginary.png/revision/latest/scale-to-width-down/15);
}
/* 5-star */
/* Bailu */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3884"]:hover:before {
content: "Байлу / Bailu\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/4/47/Character_Bailu_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3884"]:hover:after {
    content: var(--lightning);
  margin-left: -238px;
}
/* Blade */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3887"]:hover:before {
content: "Блэйд / Blade\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/9/90/Character_Blade_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3887"]:hover:after {
    content: var(--wind);
    margin-left: -243px;
}
/* Bronya */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3888"]:hover:before {
content: "Броня / Bronya\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/0/0f/Character_Bronya_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3888"]:hover:after {
    content: var(--wind);
    margin-left: -243px;
}
/* Clara */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3889"]:hover:before {
content: "Клара / Clara\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/a/a4/Character_Clara_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3889"]:hover:after {
    content: var(--physical);
    margin-left: -243px;
}
/* Fu Xuan */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3890"]:hover:before {
content: "Фу Сюань / Fu Xuan\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/1/1a/Character_Fu_Xuan_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3890"]:hover:after {
    content: var(--quantum);
    margin-left: -243px;
}
/* Gepard */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3891"]:hover:before {
content: "Гепард / Gepard\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/7/75/Character_Gepard_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3891"]:hover:after {
    content: var(--ice);
    margin-left: -243px;
}
/* Himeko */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3892"]:hover:before {
content: "Химеко / Himeko\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/0/00/Character_Himeko_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3892"]:hover:after {
    content: var(--fire);
    margin-left: -243px;
}
/* Jing Yuan */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3893"]:hover:before {
content: "Цзин Юань / Jing Yuan\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/8/88/Character_Jing_Yuan_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3893"]:hover:after {
    content: var(--lightning);
    margin-left: -243px;
}
/* Kafka */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3894"]:hover:before {
content: "Кафка / Kafka\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/8/8c/Character_Kafka_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3894"]:hover:after {
    content: var(--lightning);
    margin-left: -243px;
}
/* Luocha */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3895"]:hover:before {
content: "Лоча / Luocha\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/2/20/Character_Luocha_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3895"]:hover:after {
    content: var(--imaginary);
    margin-left: -243px;
}
/* Seele */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3896"]:hover:before {
content: "Зеле / Seele\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/9/9a/Character_Seele_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3896"]:hover:after {
    content: var(--quantum);
    margin-left: -243px;
}
/* Silver Wolf */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3897"]:hover:before {
content: "Серебряный Волк / Silver Wolf\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/a/a3/Character_Silver_Wolf_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3897"]:hover:after {
    content: var(--quantum);
    margin-left: -243px;
}
/* Trailblazer */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3898"]:hover:before {
content: "Первопроходец / Trailblazer\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/1/11/Character_Trailblazer_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3898"]:hover:after {
    content: var(--physical);
    margin-left: -243px;
}
/* Welt */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3899"]:hover:before {
content: "Вельт / Welt\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/1/11/Character_Welt_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3899"]:hover:after {
    content: var(--imaginary);
    margin-left: -243px;
}
/* Yanqing */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3901"]:hover:before {
content: "Яньцин / Yanqing\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/5/57/Character_Yanqing_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3901"]:hover:after {
    content: var(--ice);
    margin-left: -243px;
}
/* 4-star */
/* Arlan */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3871"]:hover:before {
content: "Арлан / Arlan\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/a/a9/Character_Arlan_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3871"]:hover:after {
    content: var(--lightning);
  margin-left: -238px;
}
/* Asta */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3872"]:hover:before {
content: "Аста / Asta\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/9/9f/Character_Asta_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3872"]:hover:after {
    content: var(--fire);
  margin-left: -238px;
}
/* Dan Heng */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3873"]:hover:before {
content: "Дань Хэн / Dan Heng\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/1/1a/Character_Dan_Heng_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3873"]:hover:after {
    content: var(--wind);
  margin-left: -238px;
}
/* Herta */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3874"]:hover:before {
content: "Герта / Herta\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/b/bf/Character_Herta_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3874"]:hover:after {
    content: var(--ice);
  margin-left: -238px;
}
/* Hook */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3875"]:hover:before {
content: "Хук / Hook\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/d/d5/Character_Hook_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3875"]:hover:after {
    content: var(--fire);
  margin-left: -238px;
}
/* March 7th */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3876"]:hover:before {
content: "Март 7 / March 7th\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/d/d3/Character_March_7th_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3876"]:hover:after {
    content: var(--ice);
  margin-left: -238px;
}
/* Natasha */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3877"]:hover:before {
content: "Наташа / Natasha\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/6/61/Character_Natasha_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3877"]:hover:after {
    content: var(--physical);
  margin-left: -238px;
}
/* Pela */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3878"]:hover:before {
content: "Пела / Pela\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/c/c2/Character_Pela_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3878"]:hover:after {
    content: var(--ice);
  margin-left: -238px;
}
/* Qingque */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3879"]:hover:before {
content: "Цинцюэ / Qingque\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/2/2e/Character_Qingque_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3879"]:hover:after {
    content: var(--quantum);
  margin-left: -238px;
}
/* Sampo */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3880"]:hover:before {
content: "Сампо / Sampo\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/5/53/Character_Sampo_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3880"]:hover:after {
    content: var(--wind);
  margin-left: -238px;
}
/* Serval */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3881"]:hover:before {
content: "Сервал / Serval\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/7/7c/Character_Serval_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3881"]:hover:after {
    content: var(--lightning);
  margin-left: -238px;
}
/* Sushang */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3882"]:hover:before {
content: "Сушан / Sushang\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/9/97/Character_Sushang_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3882"]:hover:after {
    content: var(--physical);
  margin-left: -238px;
}
/* Tingyun */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3883"]:hover:before {
content: "Тинъюнь / Tingyun\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/4/4f/Character_Tingyun_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/3883"]:hover:after {
    content: var(--lightning);
  margin-left: -238px;
}
/* Yukong */
.b-link[href*="/clubs/4266-honkai-star-rail/pages/4169"]:hover:before {
content: "Юйкун / Yukong\A" url(https://static.wikia.nocookie.net/houkai-star-rail/images/4/4f/Character_Tingyun_Icon.png/revision/latest/scale-to-width-down/74) " Редкость: ✦ ✦ ✦ ✦ ✦";
}
.b-link[href*="/clubs/4266-honkai-star-rail/pages/4169"]:hover:after {
    content: var(--imaginary);
  margin-left: -238px;
}
