  /* Клубы в меню */
.b-club {
    margin-bottom: 10px;
    position: relative;
    background: #161616;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 12px;
  }
.b-club:hover {
  box-shadow: 2px 2px 5px #121212;
  transition: .6s ease-in-out;
  border-color: var(--link-color);
}
  .b-club .logo {
  display: none;
  }
  .b-club .name-logo::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    width: 64px;
    height: 64px;
    margin: auto;
    background-size: cover; 
    border-radius: 15%;
    border: 2px solid #ddd;
  }
  /* картинка в клубе */
.b-club::before {
    content: '';
    display: block;
    height: 100px;
    background-size: cover;
    border-radius: 4px 4px 0 0;
    opacity: .6;
    margin: -12px; /* вот тут поправить и найти*/
  }
.b-club:hover::before {
  opacity: 1;
  transition: .6s ease-in-out;
}
.b-club .name-logo::after {
    content: "";
    position: absolute;
    inset: 0;
}
  /* Имя клуба ("В центре") */
  .b-club .name {
    color: #fff;
    font-size: 16px;
    margin-top: 20px; 
    text-align: center;
  }
  /* Описание клуба */
  .b-club .info .number, .b-club .info .value, .b-club .info .grouped:after {
    font-size: 9px;
    color: #9d9d9d;
  }
  .b-club .info {
    font-size: 10px;
    margin: 5px;
  }
  /* Картинка админов в описании клуба */
  .b-club .info.author img {
    border-radius: 10%; 
  }
  /* 18+ в клубах */
  .b-club.censored .name::before {
    content: "🛇";
    content: "18+";
    position: absolute;
    top: 100px;
    right: 8px;
    width: 36px;
    background-color: #176093;
    border-radius: 16px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -1px;
    text-align: center;
    transform: translateY(-50%);
}
  /* Конец 18+ в клубах */
  /* Картинки клубов */
/* Azur Lane */
.b-club[id='2538']::before {
    background-image: url(https://i.imgur.com/VaLjW1h.jpeg);
    background-size: cover;
  }
  .b-club[id='2538'] .name-logo::before {
    background-image: url(https://shikimori.me/system/clubs/main/2538.png);
  }
/* Genshin Impact */
.b-club[id='3057']::before {
    background-image: url(https://images5.alphacoders.com/109/1099191.jpg);
    background-size: cover;
  }
  .b-club[id='3057'] .name-logo::before {
    background-image: url(https://moe.shikimori.me/system/clubs/main/3057.jpeg);
  }
/* Fate/Grand Order */
.b-club[id='873']::before {
    background-image: url(https://dere.shikimori.me/system/images/original/109199.jpg);
    background-size: cover;
  }
  .b-club[id='873'] .name-logo::before {
    background-image: url(https://desu.shikimori.me/system/clubs/main/873.png);
  }
/* Blue Archive */
.b-club[id='4441']::before {
    background-image: url(https://rare-gallery.com/mocahbig/427490-blue-archive-anime-sky-star-trails.png);
    background-size: cover;
  }
  .b-club[id='4441'] .name-logo::before {
    background-image: url(https://kawai.shikimori.me/system/clubs/main/4441.png);
  }
