/* Смайлики */
img.smiley[title=":strange4:"], img.smiley[title=":ball:"], img.smiley[title=":evil3:"], img.smiley[title=":wink:"], img.smiley[title=":dont listen:"], img.smiley[title=":hypno:"], img.smiley[title=":hot2:"], img.smiley[title=":stress:"], img.smiley[title=":strange3:"], img.smiley[title=":strange2:"], img.smiley[title=":strange1:"], img.smiley[title=":strange:"], img.smiley[title=":hope:"], img.smiley[title=":hope3:"], img.smiley[title=":diplom:"], img.smiley[title=":bow:"], img.smiley[title=":Warning:"], img.smiley[title=":Ban:"], img.smiley[title=":s1:"], img.smiley[title=":s2:"], img.smiley[title=":ill:"], img.smiley[title=":sad2:"], img.smiley[title=":bullied:"], img.smiley[title=":bdl2:"], img.smiley[title=":Happy Birthday:"], img.smiley[title=":flute:"], img.smiley[title=":cry5:"], img.smiley[title=":hope2:"], img.smiley[title=":sleepy:"], img.smiley[title=":study:"], img.smiley[title=":study2:"], img.smiley[title=":study3:"], img.smiley[title=":gamer:"], img.smiley[title=":animal:"], img.smiley[title=":shocked:"], img.smiley[title=":frozen:"], img.smiley[title=":frozen2:"], img.smiley[title=":kia:"], img.smiley[title=":happy3:"], img.smiley[title=":prcl:"], img.smiley[title=":play:"], img.smiley[title=":s4:"], img.smiley[title=":s:"], img.smiley[title=":bath:"], img.smiley[title=":kiss:"], img.smiley[title=":smoker:"], img.smiley[title=":V:"], img.smiley[title=":V2:"], img.smiley[title=":V3:"], img.smiley[title=":angry2:"], img.smiley[title=":kya:"] {
    content: unset;
}
.b-shiki_editor img.smiley {
    max-height: 32px;
    height: 32px;
}
img.smiley {
    height: 32px;
}
img[title=":depressed2:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/06/12/42691d4f0f35b6bcfa3ae4009c0dae09_834757971416485741.png); 
}
img[title=":oh:"] {
    content: url(https://cdn.7tv.app/emote/644d3ec02da080b4cff4a26a/2x.webp); 
}
img[title=":revenge:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/06/12/5f283599530abe6e8d09f50bb14b7b2a_4679747953190132107.png); 
}
img[title=":love2:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/06/12/6140278dd84c457f11e00d3792cbf099_3944359462204262045.png); 
}
img[title=":happy_cry:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/04/24/94f93d898c18e70eb1820f9a83b37f7d_2734402687867146709.png); 
}
img[title=":thumbup:"] {
    content: url(https://cdn.7tv.app/emote/648157e3cde3496c398658a3/2x.webp); 
}
img[title=":star:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/04/24/32582224e59281db598de0a7b789e236_6661065028593495865.png); 
}
img[title=":tea2:"] {
    content: url(https://cdn.7tv.app/emote/63e7192f8444e644401a158c/2x.webp); 
}
img[title=":tea shock:"] {
    content: url(https://cdn.7tv.app/emote/644c720670a213f616c7a608/2x.webp); 
}
img[title=":shocked3:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/05/12/e502eb7e4c5f0caba55bca4e0e7cd3ed_7599097940475832185.png); 
}
img[title=":Happy Birthday:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/04/24/1364469419947815504f1e2885be0150_4271137375081909882.png); 
}
img[title=":angry:"] {
    content: url(https://cdn.7tv.app/emote/64570beb89e08d1e8df27c8f/2x.webp); 
}
img[title=":angry4:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/06/12/2f55e1f199efc29f3c4e9076d3288365_7013897107954424230.png); 
}
img[title=":evil:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/04/24/7571bb2197d52e92d30580fe6a1c246d_2814059967494326002.png); 
}
img[title=":evil2:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/04/24/f3c5294aa2aeb7e1e34f0cc32c14d45e_3875259619869260379.png); 
}
img[title=":sleep:"] {
    content: url(https://cdn.7tv.app/emote/645e201e7fa1a5e0ee9823b0/2x.webp);
}
img[title=":gaze:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/04/24/7f779636a47eb13c250bc9c6367ebd0d_8259216778620272532.png); 
}
img[title=":ooph:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/06/12/022a8a3746a51392ca5bba4883546c88_3918475580606030081.png); 
}
img[title=":hope:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/04/24/1d19e4ebba7f763c23fa5a257f2df8a5_3825527266779439626.png); 
}
img[title=":hot:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/04/24/836d62a3a7f94b17079c6e4ec79192f1_4559439987895171506.png); 
}
img[title=":cry:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/04/24/47ddf01d34e9a87f7dff3dfc618dd936_8998940943316629395.png); 
}
img[title=":oh2:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/06/12/d26451b3d5a96f1539e49f9ed6d7243a_3765538984649249322.png); 
}
img[title=":hope3:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/06/12/cdf43782c615e0a7f871d92c64bec0a9_1088253528936134356.png); 
}
img[title="+_+.gif"] {
    content: url(https://cdn.discordapp.com/emojis/1070360296490795069.webp); 
}
img[title=":strange:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/04/24/c0aad74f797e90f3ca6bafdd7d77b1e7_6625900122424227248.png); 
}
img[title=":s2:"] {
    content: url(https://cdn.7tv.app/emote/6471d5d6bbda77d37564d62b/2x.webp);
}
img[title=":s3:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/06/12/912d9abf4c156f51367e41256395fa08_5659649110301141399.png); 
}
img[title=":advise:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/06/12/4c9f88bd060da3bbca756134635845c2_6716013048319903165.png); 
}
img[title=":smoker:"] {
    content: url(https://cdn.7tv.app/emote/6452e8c12d06e2409f74da46/2x.webp); 
}
img[title=":roll:"] {
    content: url(https://cdn.7tv.app/emote/645b2f751c967ef7206f53ed/2x.webp); 
}
img[title=":-o.gif"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/04/24/32c866cf2fc83076c6ff974968fa2674_9113596049053848725.png); 
}
img[title=":flute:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/06/12/4ad374062b63dbc3d4c5911986c03c4a_8926406062927288661.png);
}
img[title=":bow:"] {
    content: url(https://cdn.discordapp.com/emojis/896455456866848798.webp); 
}
img[title=":hopelles:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/05/12/6b46bb4360bf7a9132a9ab061b43ce50_252167555488128248.png); 
}
img[title=":love:"] {
    content: url(https://img-os-static.hoyolab.com/communityWeb/upload/16ca0045106b892d5443d3b626d8539f.png); 
}
img[title=":yahoo:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/04/24/5a3ce434c5412bfe02f78a33aaa3f7f2_843725108637061971.png); 
}
img[title=":smoker2:"] {
    content: url(https://upload-bbs.mihoyo.com/upload/2022/04/24/9f2fd95523cca60843336d0aa14b225f_2127491934101263634.png); 
}
img[title=":V:"] {
    content: url(https://upload-os-bbs.hoyolab.com/upload/2023/03/13/ca55ea6306594107f58a91a2f82b0686_2267399049922485504.png); 
}
img[title=":V3:"] {
    content: url(https://upload-os-bbs.hoyolab.com/upload/2023/03/13/03ca55317d6cb46666bdced2a996367b_8032746636759976041.png); 
}
img[title=":whip:"] {
    content: url(https://cdn.7tv.app/emote/644d45829d0ff0a50aaad8f7/2x.webp); 
}
img[title=":sleepy:"] {
    content: url(https://cdn.7tv.app/emote/644d327ab386e2123c0f05fd/2x.webp); 
}
img[title=":angry6:"] {
    content: url(https://cdn.7tv.app/emote/6452df27086b4c5098987ec9/2x.webp);
}
img[title=":disappointment:"] {
    content: url(https://cdn.7tv.app/emote/644664541ad52ac3b96f1cb1/2x.webp); 
}
img[title=":kiss:"] {
    content: url(https://cdn.7tv.app/emote/63ee09c05f5e0bfb600b7782/2x.webp); 
}
img[title=":bye:"] {
    content: url(https://cdn.7tv.app/emote/63e981e2efb47752e7c482a1/2x.webp); 
}
img[title=":angry3:"] {
    content: url(https://cdn.7tv.app/emote/628e3d7badc5e81118ca238d/2x.webp); 
}
img[title=":angry2:"] {
    content: url(https://cdn.7tv.app/emote/644b676802d65be125e1da74/2x.webp); 
}
img[title=":twisted:"] {
    content: url(https://cdn.7tv.app/emote/63ed85bdf9cdbbe664b15653/2x.webp); 
}
img[title=":frozen3:"] {
    content: url(https://dere.shikimori.me/system/images/original/134349.gif); 
}
img[title=":!:"] {
    content: url(https://cdn.7tv.app/emote/63ea1176d84f8e2564c2b0d4/2x.webp); 
}
img[title=":interested:"] {
    content: url(https://cdn.7tv.app/emote/644d64579d0ff0a50aaadb4e/2x.webp); 
}
img[title=":study2:"] {
    content: url(https://moe.shikimori.me/system/images/original/134352.gif); 
}
img[title=":study3:"] {
    content: url(https://moe.shikimori.me/system/images/original/134347.gif);
}
img[title=":flute:"] {
    content: url(https://desu.shikimori.me/system/images/original/134348.gif); 
}
img[title=":wink:"] {
    content: url(https://cdn.discordapp.com/emojis/952770597883113522.gif); 
}
img[title=":hunf:"] {
    content: url(https://cdn.discordapp.com/emojis/967404640775835648.webp);
}
img[title=":hi:"] {
    content: url(https://cdn.discordapp.com/emojis/1071963823268974694.webp);
}
img[title=":bdl:"] {
    content: url(https://cdn.discordapp.com/emojis/902221983629049946.webp);
}
img[title=":prcl:"] {
    content: url(https://cdn.7tv.app/emote/64628e4de08ca3c3a492d4ae/2x.webp);
}
img[title=":stress:"] {
    content: url(https://cdn.discordapp.com/emojis/909445263595274280.webp);
}
img[title=":shock:"] {
    content: url(https://cdn.discordapp.com/emojis/902221983582924800.webp);
}
img[title=":scream:"] {
    content: url(https://cdn.discordapp.com/emojis/1100434141490729073.webp);
}
img[title=":dont listen:"] {
    content: url(https://cdn.discordapp.com/emojis/1070725854985986088.webp);
}
img[title=":-P.gif"] {
    content: url(https://cdn.7tv.app/emote/645da023687d6f0c5545789d/2x.webp);
}
img[title=":cool2:"] {
    content: url(https://cdn.7tv.app/emote/64532fa1cfa3d4bc3fe05dde/2x.webp);
}
img[title=":hurray:"] {
    content: url(https://cdn.7tv.app/emote/64629c99e08ca3c3a492d747/2x.webp);
}
img[title=":Cry3:"] {
    content: url(https://cdn.discordapp.com/emojis/895020666020053022.webp);
}
img[title=":bdl2:"] {
    content: url(https://cdn.discordapp.com/emojis/895020666271694858.webp);
}
img[title=":very sad:"] {
    content: url(https://moe.shikimori.me/system/images/original/134397.gif);
}
img[title=":evil3:"] {
    content: url(https://kawai.shikimori.me/system/images/original/134396.gif);
}
img[title=":happy3:"] {
    content: url(https://nyaa.shikimori.me/system/images/original/134395.gif);
}
img[title=":bored:"] {
    content: url(https://dere.shikimori.me/system/images/original/134394.gif);
}
img[title=":Warning:"] {
    content: url(https://desu.shikimori.me/system/images/original/134458.jpg);
}
img[title=":shock2:"] {
    content: url(https://nyaa.shikimori.me/system/images/original/134520.gif);
}
img[title=":8):"] {
    content: url(https://desu.shikimori.me/system/images/original/134538.webp);
}
img[title=":water:"] {
    content: url(https://cdn.7tv.app/emote/646938a4a8c78dc467372ebd/2x.webp);
}
img[title=":Ban:"] {
    content: url(https://cdn.7tv.app/emote/648157a46285406852166b16/2x.webp);
}
img[title=":shocked:"] {
    content: url(https://dere.shikimori.me/system/images/original/134544.png);
}
img[title=":sick:"] {
    content: url(https://moe.shikimori.me/system/images/original/134537.webp);
}
img[title=":angry5:"] {
    content: url(https://kawai.shikimori.me/system/images/original/134536.png);
}
img[title=":s4:"] {
    content: url(https://kawai.shikimori.me/system/images/original/134541.png);
}
img[title=":shocked2:"] {
    content: url(https://cdn.7tv.app/emote/646fba3de91f85c3f53009db/2x.webp);
}
img[title=":dont want:"] {
    content: url(https://moe.shikimori.me/system/images/original/134542.png);
}
img[title=":Im dead:"] {
    content: url(https://nyaa.shikimori.me/system/images/original/134605.gif);
}
img[title=":caterpillar:"] {
    content: url(https://cdn.7tv.app/emote/6483705d76b53e625d59118b/2x.webp);
}
img[title=":shy:"] {
    content: url(https://cdn.7tv.app/emote/6456345d8f59597ae8943ee8/2x.webp);
}
img[title=":kya:"] {
    content: url(https://cdn.7tv.app/emote/645094368415fdda8b735414/2x.webp);
}
img[title=":scared:"] {
    content: url(https://cdn.7tv.app/emote/64546384b66cbeea6f9cabf9/2x.webp);
}
img[title=":dunno:"] {
    content: url(https://cdn.7tv.app/emote/6459807c106e4313fec4874d/2x.webp);
}
img[title=":s1:"] {
    content: url(https://cdn.7tv.app/emote/64562294e6a8756fb6f008f9/2x.webp);
}
img[title=":cool:"] {
    content: url(https://cdn.7tv.app/emote/646296d9e08ca3c3a492d64c/2x.webp);
}
img[title=":frozen:"] {
    content: url(https://cdn.7tv.app/emote/6458ee924a9657c9ee3f6758/2x.webp);
}
img[title=":strange4:"] {
    content: url(https://cdn.7tv.app/emote/645596139ed2af81cfa29213/2x.webp);
}
img[title=":noooo:"] {
    content: url(https://cdn.7tv.app/emote/64622398cad9320b9323b177/2x.webp);
}
img[title=":watching:"] {
    content: url(https://cdn.7tv.app/emote/6463915d23c4501d0f3a73dd/2x.webp);
}
img[title=":happy:"] {
    content: url(https://cdn.7tv.app/emote/6463e3526989b9b0d46a3835/2x.webp);
}
img[title=":hypno:"] {
    content: url(https://cdn.7tv.app/emote/645d2edd7f4086ee103a27fa/2x.webp);
}
img[title=":dance:"] {
    content: url(https://cdn.7tv.app/emote/645d621e7fa1a5e0ee980e8e/2x.webp);
}
img[title=":shocked4:"] {
    content: url(https://cdn.7tv.app/emote/645f0881d65ebaeb2379be87/2x.webp);
}
img[title=":).gif"] {
    content: url(https://cdn.7tv.app/emote/645f70d248e90f69f0788dcd/2x.webp);
}
img[title=":gaze:"] {
    content: url(https://cdn.7tv.app/emote/645e4c5b7fa1a5e0ee9829fe/2x.webp);
}
img[title=":kia:"] {
    content: url(https://cdn.7tv.app/emote/646937eb58d599a0419faa6e/2x.webp);
}
img[title=":ball:"] {
    content: url(https://cdn.7tv.app/emote/647431161e0850ff1f6c20d3/2x.webp);
}
img[title=":gamer:"] {
    content: url(https://cdn.7tv.app/emote/6481258dcde3496c39864fe7/2x.webp);
}
img[title=":strange3:"] {
    content: url(https://cdn.7tv.app/emote/648114a26285406852165eb7/2x.webp);
}
img[title=":depressed:"] {
    content: url(https://cdn.7tv.app/emote/647addb00c7cd505faf362f6/2x.webp);
}
img[title=":bath:"] {
    content: url(https://cdn.7tv.app/emote/6481329e6285406852166588/2x.webp);
}
img[title=":bunch:"] {
    content: url(https://shikimori.me/system/images/original/136217.png);
}
