/* Отдельные стили картинок пользователей */
/* в списке участиков/комменты */
/* 小猫 */
.b-clubs-menu .members .b-user[id="622401"] img,
.b-user.named_avatar[id="622401"] img,
.b-comment[data-user_id="622401"] > .inner header img {
  border-radius: 50%;
}
/* tsukimizxc🍀 */
.b-clubs-menu .members .b-user[id="11582"] img,
.b-user.named_avatar[id="11582"] img,
.b-comment[data-user_id="11582"] > .inner header img {
  border-radius: 50%;
}
/* koyoru */
.b-clubs-menu .members .b-user[id="1108580"] img,
.b-user.named_avatar[id="1108580"] img,
.b-comment[data-user_id="1108580"] > .inner header img {
  border-radius: 50%;
}
/* MrHuko */
.b-clubs-menu .members .b-user[id="343198"] img,
.b-user.named_avatar[id="343198"] img,
.b-comment[data-user_id="343198"] > .inner header img {
  border-radius: 50%;
}
/* Redyska */
.b-clubs-menu .members .b-user[id="938990"] img,
.b-user.named_avatar[id="938990"] img,
.b-comment[data-user_id="938990"] > .inner header img {
  border-radius: 50%;
}
/* Kadel */
.b-clubs-menu .members .b-user[id="410893"] img,
.b-user.named_avatar[id="410893"] img,
.b-comment[data-user_id="410893"] > .inner header img {
  border-radius: 50%;
}
/* Damarisss */
.b-clubs-menu .members .b-user[id="1306499"] img,
.b-user.named_avatar[id="1306499"] img,
.b-comment[data-user_id="1306499"] > .inner header img {
  border-radius: 50%;
}
/* Valentinus */
.b-clubs-menu .members .b-user[id="150844"] img,
.b-user.named_avatar[id="150844"] img,
.b-comment[data-user_id="150844"] > .inner header img {
  border-radius: 50%;
}
/* 🐾Мэй🐇 */
.b-clubs-menu .members .b-user[id="1124265"] img,
.b-user.named_avatar[id="1124265"] img,
.b-comment[data-user_id="1124265"] > .inner header img {
  border-radius: 50%;
}
/* MADGODWAR */
.b-clubs-menu .members .b-user[id="807148"] img,
.b-user.named_avatar[id="807148"] img,
.b-comment[data-user_id="807148"] > .inner header img {
  border-radius: 50%;
}
/* AkaliSei */
.b-clubs-menu .members .b-user[id="568531"] img,
.b-user.named_avatar[id="568531"] img,
.b-comment[data-user_id="568531"] > .inner header img {
  border-radius: 50%;
}
/* ZaPivom */
.b-clubs-menu .members .b-user[id="1121652"] img,
.b-user.named_avatar[id="1121652"] img,
.b-comment[data-user_id="1121652"] > .inner header img {
  border-radius: 50%;
}
/* RainbowTrap */
.b-clubs-menu .members .b-user[id="298171"] img,
.b-user.named_avatar[id="298171"] img,
.b-comment[data-user_id="298171"] > .inner header img {
  border-radius: 50%;
}
/* amibloco */
.b-clubs-menu .members .b-user[id="1314039"] img,
.b-user.named_avatar[id="1314039"] img,
.b-comment[data-user_id="1314039"] > .inner header img {
  border-radius: 50%;
}
/* Narmo */
.b-clubs-menu .members .b-user[id="279083"] img,
.b-user.named_avatar[id="279083"] img,
.b-comment[data-user_id="279083"] > .inner header img {
  border-radius: 50%;
}
/* EugenZ */
.b-clubs-menu .members .b-user[id="230601"] img,
.b-user.named_avatar[id="230601"] img,
.b-comment[data-user_id="230601"] > .inner header img {
  border-radius: 50%;
}
/* akizumi */
.b-clubs-menu .members .b-user[id="1320585"] img,
.b-user.named_avatar[id="1320585"] img,
.b-comment[data-user_id="1320585"] > .inner header img {
  border-radius: 50%;
}
/* ʸᵃᶰᵈᵉʳᵉ ᵍᶦʳᶫ */
.b-clubs-menu .members .b-user[id="563250"] img,
.b-user.named_avatar[id="563250"] img,
.b-comment[data-user_id="563250"] > .inner header img {
  border-radius: 50%;
}
/* GRekus */
.b-clubs-menu .members .b-user[id="475462"] img,
.b-user.named_avatar[id="475462"] img,
.b-comment[data-user_id="475462"] > .inner header img {
  border-radius: 50%;
}
/* xJoel00 */
.b-clubs-menu .members .b-user[id="313662"] img,
.b-user.named_avatar[id="313662"] img,
.b-comment[data-user_id="313662"] > .inner header img {
  border-radius: 50%;
}
/* ∞bLooD鬼 */
.b-clubs-menu .members .b-user[id="461244"] img,
.b-user.named_avatar[id="461244"] img,
.b-comment[data-user_id="461244"] > .inner header img {
  border-radius: 50%;
}
/* jjonkie_ */
.b-clubs-menu .members .b-user[id="1287484"] img,
.b-user.named_avatar[id="1287484"] img,
.b-comment[data-user_id="1287484"] > .inner header img {
  border-radius: 50%;
}
/* TahlGor */
.b-clubs-menu .members .b-user[id="973612"] img,
.b-user.named_avatar[id="973612"] img,
.b-comment[data-user_id="973612"] > .inner header img {
  border-radius: 50%;
}
/* ksksks_pes */
.b-clubs-menu .members .b-user[id="755168"] img,
.b-user.named_avatar[id="755168"] img,
.b-comment[data-user_id="755168"] > .inner header img {
  border-radius: 50%;
}
/* Amaterazu */
.b-clubs-menu .members .b-user[id="38646"] img,
.b-user.named_avatar[id="38646"] img,
.b-comment[data-user_id="38646"] > .inner header img {
  border-radius: 50%;
}
/* Twysannn🎧 */
.b-clubs-menu .members .b-user[id="1184592"] img,
.b-user.named_avatar[id="1184592"] img,
.b-comment[data-user_id="1184592"] > .inner header img {
  border-radius: 50%;
}
/* Tesuko */
.b-clubs-menu .members .b-user[id="664637"] img,
.b-user.named_avatar[id="664637"] img,
.b-comment[data-user_id="664637"] > .inner header img {
  border-radius: 50%;
}
/* LeeNarie */
.b-clubs-menu .members .b-user[id="97351"] img,
.b-user.named_avatar[id="97351"] img,
.b-comment[data-user_id="97351"] > .inner header img {
  border-radius: 50%;
}
/* Paradizma */
.b-clubs-menu .members .b-user[id="1336561"] img,
.b-user.named_avatar[id="1336561"] img,
.b-comment[data-user_id="1336561"] > .inner header img {
  border-radius: 50%;
}
/* Chudy */
.b-clubs-menu .members .b-user[id="169737"] img,
.b-user.named_avatar[id="169737"] img,
.b-comment[data-user_id="169737"] > .inner header img {
  border-radius: 50%;
}
/* カミア カンラ */
.b-clubs-menu .members .b-user[id="446012"] img,
.b-user.named_avatar[id="446012"] img,
.b-comment[data-user_id="446012"] > .inner header img {
  border-radius: 50%;
}
/* Meloncatolia */
.b-clubs-menu .members .b-user[id="1258165"] img,
.b-user.named_avatar[id="1258165"] img,
.b-comment[data-user_id="1258165"] > .inner header img {
  border-radius: 50%;
}
/* Toila */
.b-clubs-menu .members .b-user[id="1335023"] img,
.b-user.named_avatar[id="1335023"] img,
.b-comment[data-user_id="1335023"] > .inner header img {
  border-radius: 50%;
}
/* kirillmk5 */
.b-clubs-menu .members .b-user[id="1168719"] img,
.b-user.named_avatar[id="1168719"] img,
.b-comment[data-user_id="1168719"] > .inner header img {
  border-radius: 50%;
}
/* NoirAniFox */
.b-clubs-menu .members .b-user[id="230786"] img,
.b-user.named_avatar[id="230786"] img,
.b-comment[data-user_id="230786"] > .inner header img {
  border-radius: 50%;
}
/* Meinya */
.b-clubs-menu .members .b-user[id="1073176"] img,
.b-user.named_avatar[id="1073176"] img,
.b-comment[data-user_id="1073176"] > .inner header img {
  border-radius: 50%;
}
/* diozavrrr♡ */
.b-clubs-menu .members .b-user[id="368465"] img,
.b-user.named_avatar[id="368465"] img,
.b-comment[data-user_id="368465"] > .inner header img {
  border-radius: 50%;
}
/* ArhimagKira */
.b-clubs-menu .members .b-user[id="1245026"] img,
.b-user.named_avatar[id="1245026"] img,
.b-comment[data-user_id="1245026"] > .inner header img {
  border-radius: 50%;
}
/* ShadeRulz */
.b-clubs-menu .members .b-user[id="638597"] img,
.b-user.named_avatar[id="638597"] img,
.b-comment[data-user_id="638597"] > .inner header img {
  border-radius: 50%;
}
/* MakotoK8 */
.b-clubs-menu .members .b-user[id="1008916"] img,
.b-user.named_avatar[id="1008916"] img,
.b-comment[data-user_id="1008916"] > .inner header img {
  border-radius: 50%;
}
/* Rotyger */
.b-clubs-menu .members .b-user[id="1181760"] img,
.b-user.named_avatar[id="1181760"] img,
.b-comment[data-user_id="1181760"] > .inner header img {
  border-radius: 50%;
}
/* severastra */
.b-clubs-menu .members .b-user[id="93872"] img,
.b-user.named_avatar[id="93872"] img,
.b-comment[data-user_id="93872"] > .inner header img {
  border-radius: 50%;
}
/* La1n Iwakura */
.b-clubs-menu .members .b-user[id="910881"] img,
.b-user.named_avatar[id="910881"] img,
.b-comment[data-user_id="910881"] > .inner header img {
  border-radius: 50%;
}
/* exest_xd */
.b-clubs-menu .members .b-user[id="1207244"] img,
.b-user.named_avatar[id="1207244"] img,
.b-comment[data-user_id="1207244"] > .inner header img {
  border-radius: 50%;
}
/* demon2222 */
.b-clubs-menu .members .b-user[id="758967"] img,
.b-user.named_avatar[id="758967"] img,
.b-comment[data-user_id="758967"] > .inner header img {
  border-radius: 50%;
}
/* Romantic */
.b-clubs-menu .members .b-user[id="5779"] img,
.b-user.named_avatar[id="5779"] img,
.b-comment[data-user_id="5779"] > .inner header img {
  border-radius: 50%;
}
/* Reuyashi */
.b-clubs-menu .members .b-user[id="624039"] img,
.b-user.named_avatar[id="624039"] img,
.b-comment[data-user_id="624039"] > .inner header img {
  border-radius: 50%;
}
/* ℕ𝕆𝕂𝔸𝕆 */
.b-clubs-menu .members .b-user[id="1328949"] img,
.b-user.named_avatar[id="1328949"] img,
.b-comment[data-user_id="1328949"] > .inner header img {
  border-radius: 50%;
}
/* oncefirefly */
.b-clubs-menu .members .b-user[id="220506"] img,
.b-user.named_avatar[id="220506"] img,
.b-comment[data-user_id="220506"] > .inner header img {
  border-radius: 50%;
}
/* 0Vihade0 */
.b-clubs-menu .members .b-user[id="932830"] img,
.b-user.named_avatar[id="932830"] img,
.b-comment[data-user_id="932830"] > .inner header img {
  border-radius: 50%;
}
/* kit5uneee */
.b-clubs-menu .members .b-user[id="214173"] img,
.b-user.named_avatar[id="214173"] img,
.b-comment[data-user_id="214173"] > .inner header img {
  border-radius: 50%;
}
/* ShadowBMX */
.b-clubs-menu .members .b-user[id="609603"] img,
.b-user.named_avatar[id="609603"] img,
.b-comment[data-user_id="609603"] > .inner header img {
  border-radius: 50%;
}
/* ту́товый шелкопря́д */
.b-clubs-menu .members .b-user[id="508579"] img,
.b-user.named_avatar[id="508579"] img,
.b-comment[data-user_id="508579"] > .inner header img {
  border-radius: 50%;
}
/* окаши */
.b-clubs-menu .members .b-user[id="324602"] img,
.b-user.named_avatar[id="324602"] img,
.b-comment[data-user_id="324602"] > .inner header img {
  border-radius: 50%;
}
/* Mgr-Natan */
.b-clubs-menu .members .b-user[id="1091105"] img,
.b-user.named_avatar[id="1091105"] img,
.b-comment[data-user_id="1091105"] > .inner header img {
  border-radius: 50%;
}
/* VerychK */
.b-clubs-menu .members .b-user[id="137197"] img,
.b-user.named_avatar[id="137197"] img,
.b-comment[data-user_id="137197"] > .inner header img {
  border-radius: 50%;
}
/* Breadya */
.b-clubs-menu .members .b-user[id="29433"] img,
.b-user.named_avatar[id="29433"] img,
.b-comment[data-user_id="29433"] > .inner header img {
  border-radius: 50%;
}
/* Awix-Gaiden */
.b-clubs-menu .members .b-user[id="1119580"] img,
.b-user.named_avatar[id="1119580"] img,
.b-comment[data-user_id="1119580"] > .inner header img {
  border-radius: 50%;
}
/* redz */
.b-clubs-menu .members .b-user[id="310307"] img,
.b-user.named_avatar[id="310307"] img,
.b-comment[data-user_id="310307"] > .inner header img {
  border-radius: 50%;
}
/* Hasumur */
.b-clubs-menu .members .b-user[id="752783"] img,
.b-user.named_avatar[id="752783"] img,
.b-comment[data-user_id="752783"] > .inner header img {
  border-radius: 50%;
}
/* Mikola39 */
.b-clubs-menu .members .b-user[id="235791"] img,
.b-user.named_avatar[id="235791"] img,
.b-comment[data-user_id="235791"] > .inner header img {
  border-radius: 50%;
}
/* Библиотечный Тушкан */
.b-clubs-menu .members .b-user[id="493053"] img,
.b-user.named_avatar[id="493053"] img,
.b-comment[data-user_id="493053"] > .inner header img {
  border-radius: 50%;
}
/* AlekseySapi */
.b-clubs-menu .members .b-user[id="261034"] img,
.b-user.named_avatar[id="261034"] img,
.b-comment[data-user_id="261034"] > .inner header img {
  border-radius: 50%;
}
/* ppsk */
.b-clubs-menu .members .b-user[id="1259526"] img,
.b-user.named_avatar[id="1259526"] img,
.b-comment[data-user_id="1259526"] > .inner header img {
  border-radius: 50%;
}
